<%=@tweet.content%>

<p><a href="/tweets/edit">Edit tweet</a></p>

<form action="/tweets/<%=@tweet.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="delete tweet">
</form>
